// app global css in SCSS form
#langSwitcher {
  .q-field__append,
  .q-field__native > span {
    color: white !important;
  }

  .q-select {
    border: 1px solid #9a9ca9;
  }
}

.q-table__top {
  padding: 26px 31px 15px 31px;
}

.bg-dark-toolbar {
  background-color: #1f1f1f;
}

.bg-dark-body {
  background-color: #121212;
}

body.body--dark {
  background: #000;
}

#search-field .q-field--filled.q-field--rounded .q-field__control {
  border-radius: 28px 28px 28px 28px !important;
}

#mobile-search.q-popup-edit {
  padding: 8px 0px !important;
}

.my-sticky-virtscroll-table {
  /* height or max-height is important */
  height: 610px;

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: #fff;
  }

  thead tr th {
    position: sticky;
    z-index: 1;
  }

  /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }

  thead tr:first-child th {
    top: 0;
  }
}

/***********************
* DARK AND LIGHT MODES *
************************/

.body--light {
  .q-drawer--left {
    background-color: var(--q-secondary);
  }
}

.body--dark {
  .q-drawer--left {
    background-color: var(--q-dark);
  }

  .q-item--active {
    color: var(--q-info);
  }

  .my-sticky-virtscroll-table {
    .q-table__top,
    .q-table__bottom,
    thead tr:first-child th {
      /* bg color is important for th; just specify one */
      background-color: $dark;
    }
  }
}
